<!DOCTYPE html>
<html lang="en">
<head>

    <title>Flooring</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="FLOORING, CONTRACTOR, CONSTRUCTION, CLAREMORE, CLAREMOE, FLOORS">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/java.js"></script>
</head>

<body>
    
    <div class="head-container">
        <div class="header-container">
            <div class="header">
                <h1>Today's Builders</h1>
                <h2>"Building Your Future Today"</h2>
            </div>
        </div>
    </div>
    
    <div class="topnav" id="myTopnav">

        <a class="active-page" href="../index.html">Home</a>
        <div class="dropdown">
            <button onclick="myDropFunction('m1')" class="dropbtn">Indoor <i class="fas fa-caret-down"></i></button>
            <div id="m1" class="dropdown-content">
                <a href="../templates/indoor_kitchen.html">Kitchens</a>
                <a href="../templates/indoor_bathroom.html">Bathrooms</a>
                <a href="../templates/indoor_flooring.html">Flooring</a>
            </div>
        </div>
        <div class="dropdown">
            <button onclick="myDropFunction('m2')" class="dropbtn">Outdoor <i class="fas fa-caret-down"></i></button>
            <div id="m2" class="dropdown-content">
                <a href="../templates/outdoor_decks.html">Decks</a>
                <a href="../templates/outdoor_fireplace.html">Fireplace</a>
                <a href="../templates/outdoor_flooring.html">Flooring</a>
            </div>
        </div>

        <a href="../templates/gallery_tab.html">Gallery</a>
        <a href="../templates/contact_tab.html">Contact</a>
        <a href="javascript:void(0);" style="font-size:18px;" class="icon" onclick="myFunction()">&#9776;</a>
    </div>

    <div class="content container">

        <h1 style="text-align: center;">Flooring</h1>

        <div class="gal-wrapper">
            <div class="gal-row">

                    <div class="gal-column">
                        <img src="../static/images/flooring.jpg" style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor" alt="image">
                    </div>
                    <div class="gal-column">
                        <img src="../static/images/flooring-1.jpg" style="width:100%" onclick="openModal();currentSlide(2)" class="hover-shadow cursor" alt="image">
                    </div>
                    <div class="gal-column">
                        <img src="../static/images/flooring-2.jpg" style="width:100%" onclick="openModal();currentSlide(3)" class="hover-shadow cursor" alt="image">
                    </div>
                    <div class="gal-column">
                        <img src="../static/images/flooring-3.jpg" style="width:100%" onclick="openModal();currentSlide(4)" class="hover-shadow cursor" alt="image">
                    </div>
                    <div class="gal-column">
                        <img src="../static/images/flooring-4.jpg" style="width:100%" onclick="openModal();currentSlide(5)" class="hover-shadow cursor" alt="image">
                    </div>
                    <div class="gal-column">
                        <img src="../static/images/flooring-6.jpg" style="width:100%" onclick="openModal();currentSlide(6)" class="hover-shadow cursor" alt="image">
                    </div>
                    <div class="gal-column">
                        <img src="../static/images/flooring-5.jpg" style="width:100%" onclick="openModal();currentSlide(7)" class="hover-shadow cursor" alt="image">
                    </div>

            </div>
        </div>

        <div id="myModal" class="modal">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="modal-content">

                <div class="mySlides">
                    <div class="numbertext">1 / 7</div>
                    <img src="../static/images/flooring.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">2 / 7</div>
                    <img src="../static/images/flooring-1.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">3 / 7</div>
                    <img src="../static/images/flooring-2.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">4 / 7</div>
                    <img src="../static/images/flooring-3.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">5 / 7</div>
                    <img src="../static/images/flooring-4.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">6 / 7</div>
                    <img src="../static/images/flooring-6.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">7 / 7</div>
                    <img src="../static/images/flooring-5.jpg" style="width:100%">
                </div>

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

                <div class="caption-container">
                    <p id="caption"></p>
                </div>

                <div class="gal-column">
                    <img class="demo cursor" src="../static/images/flooring.jpg" style="width:100%" onclick="currentSlide(1)" alt="image">
                </div>

                <div class="gal-column">
                    <img class="demo cursor" src="../static/images/flooring-1.jpg" style="width:100%" onclick="currentSlide(2)" alt="image">
                </div>

                <div class="gal-column">
                    <img class="demo cursor" src="../static/images/flooring-2.jpg" style="width:100%" onclick="currentSlide(3)" alt="image">
                </div>

                <div class="gal-column">
                    <img class="demo cursor" src="../static/images/flooring-3.jpg" style="width:100%" onclick="currentSlide(4)" alt="image">
                </div>

                <div class="gal-column">
                    <img class="demo cursor" src="../static/images/flooring-4.jpg" style="width:100%" onclick="currentSlide(5)" alt="image">
                </div>

                <div class="gal-column">
                    <img class="demo cursor" src="../static/images/flooring-6.jpg" style="width:100%" onclick="currentSlide(6)" alt="image">
                </div>

                <div class="gal-column">
                    <img class="demo cursor" src="../static/images/flooring-5.jpg" style="width:100%" onclick="currentSlide(7)" alt="image">
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <a href="https://www.facebook.com/CmoreTodaysBuilders"><i class="fab fa-facebook-square fa-2x"></i></a>
        <i class="fas fa-copyright">  2019</i>
    </div>

</body>
</html>